<div class="profile-box">
  <div class="header">
    <h1>Profile Detail</h1>
  </div>
  <div class="profile-info">
    <div class="profile-name">{{user.name}}</div>
    <div class="profile-location">
      <div class="location-image">
        <fa name="map-marker"></fa>
      </div>
      <div class="location-text">
        {{ user.address.street + ', ' + user.address.suite }} <br />
        {{ user.address.city + ', ' + user.address.zipcode}}
      </div>
    </div>
    <div class="profile-phone">
      <div class="phone-image">
        <fa name="phone"></fa>
      </div>
      <div class="phone-number">{{ user.phone }}</div>
    </div>
    <div class="profile-email">
      <div class="email-image">
        <fa name="envelope"></fa>
      </div>
      <div class="email-text">{{ user.email }}</div>
    </div>
  </div>
</div>